.App {
  text-align: center;
  /* z-index: 10; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  color: #343434;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  /* font-weight: bold; */

}


/* ======================Navbar==================== */
nav {
  z-index: 2;
}
nav.navbar{
  background-color: #01152a;
}

/* ======================Navbar==================== */

/* ======================Navlink==================== */

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
  
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav li a {
  color: var(--primary-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}

.navbar-nav li a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
} 

.navbar-nav li a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
} 


/* ======================Navlink==================== */


/* ======================HEADER==================== */

.header-wraper {
  position: relative;
  background: url(images/darkbackground.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/*-------TYPED TEXT-------- */

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}
/*-------TYPED TEXT-------- */

/*-------BTN-------- */
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover {
  text-decoration: none;
  color: var(--primary-white);
  background-color: var(--primary-hover-red);
  transition: .2s ease-in-out;
}

/*-------BTN-------- */

#tsparticles {
  position: absolute;
  height: 10px;
  /* width: 1000px; */
  /* z-index: 1; */
}

.par canvas{
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 1 !important;
  
  /* background-color: transparent !important; */
}

#about {
  z-index: 2;
  position: absolute;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}








/* ======================HEADER==================== */


/*=========================ABOUTME=========================*/
.a {
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--primary-orange);
  z-index: 2;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right {
  flex: 1;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-award-img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.a-title {
  font-weight: 400;
}

.a-sub {
  margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
    margin-right: 10px;
}

.a-award{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts{
    width: 70%;
}

.a-award-title{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

@media screen and (max-width:780px) {
    .a{
      flex-direction: column;
      text-align: center;
      /* margin-left: 50px; */
    }

    .a-left {
      width: 100%;
    }

    .a-card {
      height: 30vh;
    }

    .a-card.bg, .a-award {
      display: none;
    }

    .a-right{
      padding: 20px;
    }
}




/*=========================ABOUTME=========================*/







#about {
  /* display: flex; */
  position: absolute;
  z-index: 2;
  height: 200px;
  flex-direction: column;
  }
  
  .about-info {
  height:1000px;
  background-color: red;
  font-size:36px
  }
  
  
  
  .about-wraper {
  background-color: var(--primary-orange);
  /* display: flex; */
  }
  
  .about-wraper .container {
  
  margin-top: 1.90rem;
  margin-bottom: 1.90rem;
  /* flex-direction: column; */
  }
  
  .fakeimg {
  height: 200px;
  background: #aaa;
  }
  
  
  
  
  /*================RESPONSIVE================*/
  
  
  @media screen and (max-width: 825px){
    p{
      font-weight: "bold";
    }
    }
    @media(max-width: 768px) {
    p{
      font-size: 14px;
    }
    .sperator {
      margin-top: 1.5rem;
    }
    #about {
      text-align: center;
    }
    }
    
    @media(max-width: 300px) {
    img{
      width: 250px;
    }
    
    }